*.jpg !text !filter !merge !diff
*.zip !text !filter !merge !diff
*.json !text !filter !merge !diff
*.csv !text !filter !merge !diff
*.tar.gz !text !filter !merge !diff
*.log !text !filter !merge !diff
*.tar !text !filter !merge !diff
